.deckTitle {
  margin-bottom: 6px;
  color: #333;
}

.deckWrapperFlex {
  display: flex;
  gap: 0px;
}

.tooltipBase {
  z-index: 9999;
  color: #333;
  background-color: white;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
}
