/* src/components/TokenStore.tsx */
.section {
  background-color: #dededeff;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 10px;
  color: #333;
}

.list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.token {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #4f4848ff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
  user-select: none;
  -webkit-user-select: none;
}

.token.selected {
  border: 2px solid #f6fbd1ff;
}

.token:hover {
  transform: scale(1.05);
}

.contentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
