/* src/components/TokenStore.tsx */
.section {
  width: 320px;
  height: 150px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #dededeff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 10px;
  color: #333;
}

.list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 8px;
}
