/* src/components/Token.tsx */
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  user-select: none;
}

.text {
  font-size: 1em;
  word-break: break-all;
  text-align: center;
}

.contentWrapper {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  transition: transform 0.1s ease;
  cursor: pointer;

  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.3);
}

.contentWrapper.selected {
  border: 2px solid #f6fbd1ff;
  transform: translateY(-2px);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.4);
}

.contentWrapper:hover {
  transform: scale(1.04);
}
