/* src/Components/ScoreBoard/ScoreBord.module.css */
/*
 * ===========================================
 * 全般
 * ===========================================
 */
.scoreBoardContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
  padding-left: 40px;
  border: 1px solid #333;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #000;
}

.title {
  margin-bottom: 12px;
  margin-left: -24px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ddd;
  color: #333;
  font-size: 1.5em;
  user-select: none;
}

.playerList {
  padding: 0;
  list-style: none;
}

/*
 * ===========================================
 * 操作エリア
 * ===========================================
 */
.buttonArea {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 4px;
}

.limitMessage {
  margin: 0;
  color: #d32f2f;
  font-weight: bold;
  font-size: 0.85em;
}

.buttonGroup {
  display: flex;
  gap: 6px;
}
